// Footer pattern styling
@mixin cu-p-footer {
  .p-footer {
    background: $color-x-light;
    border: 0;
    padding: 2rem 0;

    .p-inline-list__item {
      display: block;
      margin-bottom: .4rem;

      @media (min-width: $breakpoint-medium) {
        display: inline;
        margin-bottom: 0;
      }
    }
  }
}
