// Default button styling
@mixin cu-p-buttons {
  @include button-neutral-icon;
}

@mixin button-neutral-icon {
  .p-button--neutral-icon {
    @extend %vf-button-base;
    @include vf-button-pattern (
      $button-disabled-border-color: $color-mid-light,
      $button-border-color: $color-mid-light,
      $button-hover-background-color: $color-light,
      $button-hover-border-color: $color-mid-light
    );

    align-items: center;
    display: inline-flex;
    padding: .3rem 1.5rem;
    width: auto;

    &__image {
      height: 35px;
      padding-left: 5px;
    }
  }
}
