// Default button styling
@mixin cu-p-buttons {
  @include button-neutral-icon;
}

@mixin button-neutral-icon {
  .p-button--neutral-icon {
    @include vf-button-pattern;
    align-items: center;
    background: none;
    display: inline-flex;
    padding: .3rem 1.5rem;
    width: auto;

    &__image {
      height: 35px;
      padding-left: 5px;
    }
  }
}
